type project
authors Paul Johnson
description
    DSL for creating React components using Fable and F# computation expressions
language
    F#
tags
    fsharp, fable, react, monad
files
    *.fsproj ==> fable
    *.fs ==> fable